<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Others</key>
	<array>
		<dict>
			<key>image</key>
			<string>ic_more_check</string>
			<key>title</key>
			<string>检测版本</string>
		</dict>
		<dict>
			<key>image</key>
			<string>ic_more_about</string>
			<key>title</key>
			<string>关于我们</string>
		</dict>
	</array>
	<key>GovAffairs</key>
	<array>
		<dict>
			<key>image</key>
			<string>ic_appoint</string>
			<key>title</key>
			<string>人事任免</string>
		</dict>
		<dict>
			<key>image</key>
			<string>ic_report</string>
			<key>title</key>
			<string>公示公告</string>
		</dict>
		<dict>
			<key>image</key>
			<string>ic_recruit</string>
			<key>title</key>
			<string>招考信息</string>
		</dict>
		<dict>
			<key>image</key>
			<string>ic_function</string>
			<key>title</key>
			<string>机构职能</string>
		</dict>
		<dict>
			<key>image</key>
			<string>ic_profile_report</string>
			<key>title</key>
			<string>四川统计</string>
		</dict>
		<dict>
			<key>image</key>
			<string>ic_plan</string>
			<key>title</key>
			<string>计划报告</string>
		</dict>
	</array>
	<key>ProfileTitles</key>
	<array>
		<dict>
			<key>image</key>
			<string>ic_intro</string>
			<key>title</key>
			<string>概况介绍</string>
		</dict>
		<dict>
			<key>image</key>
			<string>ic_position</string>
			<key>title</key>
			<string>地理位置和自然状况</string>
		</dict>
		<dict>
			<key>image</key>
			<string>ic_profile_news</string>
			<key>title</key>
			<string>最新省情</string>
		</dict>
		<dict>
			<key>image</key>
			<string>ic_profile_report</string>
			<key>title</key>
			<string>统计公报</string>
		</dict>
	</array>
	<key>MenuTitles</key>
	<array>
		<string>聚焦四川</string>
		<string>四川概况</string>
		<string>政府文件</string>
		<string>政务信息</string>
		<string>政府领导</string>
		<string>图说四川</string>
		<string>办事服务</string>
		<string>其他功能</string>
	</array>
</dict>
</plist>
